In [2]:
import os 
os.chdir("/home/kaushik/Bus-Weather-Impacts/")
from src.utils import *
import pandas as pd
import os
import osmnx as ox
import geopandas as gpd
import networkx as nx
from sklearn.neighbors import KDTree
import numpy as np

In [35]:
# buses = read_parquet_from_tar_gz("https://urbantech-public.s3.amazonaws.com/DO-NOT-DELETE-BUSOBSERVATORY-PUBLIC-DATASET/one-system-day.tar.gz")

In [11]:
URLs = [
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_023554e8-0a59-413b-a50c-92ff131fa72e',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_09d7b38b-4bab-468d-9d65-2b85853ac75e',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_0b056bcf-6193-41ae-861f-ae884a012e29',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_186201db-2faf-4f38-bffa-92716440d546',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_1c91fac9-079e-4fa3-8182-569df0503ce8',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_20ab74f6-df02-4d2e-b4fe-ebf92fa1ac74',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_230c8436-6a66-4b17-8c0f-121a2eea4844',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_2c9c560f-9d88-4472-9e2c-b4603b2b65d9',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_2eef6e64-dee3-4361-b5a9-9c6c12718809',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_325c4a2c-4c3f-411f-9c50-2e59a85aaf60',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_327a1f49-cc3b-492f-95d9-49d95c6a7232',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_3725fb82-509f-44ce-b944-0cba4a1dab7c',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_4a2f90b7-b974-4ce8-80f0-b857ac7d1aba',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_4bbc8f8c-fe4a-498a-ada9-5b87421153ed',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_4e46b857-fe1d-46ca-abf3-943b39a59399',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_4f01a7e2-100d-4e13-af4b-a82f6a9afcd7',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_64549a48-d240-4d98-965b-e88fc26ccefd',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_65d6c353-bed0-42da-b24e-abfa2bbe93ee',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_79902113-f67d-4d0d-9269-acad795d221a',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_85268431-323c-4085-bcd7-39760d467668',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_8e958b4d-081c-457f-959f-23e7650ced00',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_940417f2-d8b1-4689-81ea-f90692f940a9',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_9a33afba-6c95-48a0-b308-6e9b9b7b49a6',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_a314a451-2435-41e0-bc54-ec8f8e84f8fc',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_df78e2fc-18fa-4f5b-8961-5f07d8427056',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_e2c17c66-e26f-41c9-ade2-fd0902dedaca',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_eab26b88-6970-4f74-a04a-c26c098efe05',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_eaef8733-ca24-4f41-bdc2-7c32f1dcd975',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_fbae25b7-2afe-4ba3-8975-233a5fca1493',
    'https://urbantech-public.s3.amazonaws.com/pickup/dump_NYC_GTFSRT/20240108_183520_00129_ygreg_ffbd96b2-8380-4c00-adbc-536f2fcb8079'
]

In [12]:
dfs = []
for url in URLs:
    df = pd.read_parquet(url)
    df = df[(df['vehicle.timestamp'] > '2023-09-16') & (df['vehicle.timestamp'] < '2023-10-01')]
    dfs.append(df)

filtered_df = pd.concat(dfs)

In [13]:
filtered_df.to_parquet('/home/data/bus-weather/raw_bus_gtfs_rt_202230917_20230930.parquet')

In [14]:
filtered_df.shape

(38069297, 11)

In [15]:
print(filtered_df.shape)
print(filtered_df.drop_duplicates().shape)

(38069297, 11)
(38045227, 11)

In [8]:
filtered_df = filtered_df.drop_duplicates()
filtered_df.to_parquet('/home/data/bus-weather/raw_bus_gtfs_rt_20230917_20230930_dedup.parquet')

In [9]:
place = "New York City, New York, USA"
G = ox.graph_from_place(place, network_type='drive')

# Convert graph nodes to a DataFrame for KDTree
nodes = ox.graph_to_gdfs(G, edges=False).reset_index()
tree = KDTree(nodes[['y', 'x']], metric='euclidean')

In [8]:
filtered_df.head()

,id,vehicle.trip.trip_id,vehicle.trip.start_date,vehicle.trip.route_id,vehicle.trip.direction_id,vehicle.position.latitude,vehicle.position.longitude,vehicle.position.bearing,vehicle.timestamp,vehicle.stop_id,vehicle.vehicle.id
70589,MTABC_3557,37373420-FRPD3-FR_D3-Saturday-04,20230916,Q11,1.0,40.656403,-73.830521,283.161041,2023-09-16 14:31:46,550510,MTABC_3557
70590,MTABC_4038,37609825-LGPD3-LG_D3-Saturday-04,20230916,Q49,0.0,40.752327,-73.879829,6.066051,2023-09-16 14:31:30,550667,MTABC_4038
70591,MTABC_5365,37381151-JKPD3-JK_D3-Saturday-04,20230916,Q10,0.0,40.713501,-73.830231,134.595566,2023-09-16 14:31:38,982159,MTABC_5365
70592,MTABC_5366,37381152-JKPD3-JK_D3-Saturday-04,20230916,Q10,0.0,40.697117,-73.829498,116.565048,2023-09-16 14:31:32,550333,MTABC_5366
70593,MTABC_4030,37604114-ECPD3-EC_D3-Saturday-04,20230916,BX23,1.0,40.869610,-73.826279,177.603271,2023-09-16 14:31:46,101740,MTABC_4030

In [16]:
# Query the KDTree for nearest node to each point
nearest_nodes = tree.query(np.array(filtered_df[['vehicle.position.latitude', 'vehicle.position.longitude']]), k=1, return_distance=False)
filtered_df['nearest_node'] = nearest_nodes.flatten()

# Map node IDs to OSM IDs
filtered_df['nearest_osm_id'] = filtered_df['nearest_node'].map(nodes['osmid'])
buses = filtered_df.merge(nodes, left_on = "nearest_osm_id", right_on = "osmid")
buses = gpd.GeoDataFrame(buses, geometry='geometry')

In [10]:
buses.head()

,id,vehicle.trip.trip_id,vehicle.trip.start_date,vehicle.trip.route_id,vehicle.trip.direction_id,vehicle.position.latitude,vehicle.position.longitude,vehicle.position.bearing,vehicle.timestamp,vehicle.stop_id,vehicle.vehicle.id,nearest_node,nearest_osm_id,osmid,y,x,ref,highway,street_count,geometry
0,MTABC_3557,37373420-FRPD3-FR_D3-Saturday-04,20230916,Q11,1.0,40.656403,-73.830521,283.161041,2023-09-16 14:31:46,550510,MTABC_3557,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690)
1,MTABC_3677,37372668-FRPD3-FR_D3-Sunday-04,20230924,Q11,0.0,40.656639,-73.830574,103.185760,2023-09-24 19:47:26,550396,MTABC_3677,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690)
2,MTABC_3748,37370792-FRPD3-FR_D3-Weekday-04-SDon,20230919,Q11,0.0,40.656467,-73.830536,103.185760,2023-09-19 14:12:40,550396,MTABC_3748,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690)
3,MTABC_4059,37370815-FRPD3-FR_D3-Weekday-04-SDon,20230918,Q11,1.0,40.656635,-73.830574,283.185760,2023-09-18 10:06:20,550510,MTABC_4059,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690)
4,MTABC_4396,37370782-FRPD3-FR_D3-Weekday-04-SDon,20230921,Q11,0.0,40.656441,-73.830528,103.185760,2023-09-21 12:21:37,550396,MTABC_4396,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690)

In [12]:
buses["time_diff"] = buses.groupby("vehicle.trip.trip_id")["vehicle.timestamp"].diff().dt.total_seconds()
# buses = buses.query("time_diff >= 60")

In [13]:
buses

,id,vehicle.trip.trip_id,vehicle.trip.start_date,vehicle.trip.route_id,vehicle.trip.direction_id,vehicle.position.latitude,vehicle.position.longitude,vehicle.position.bearing,vehicle.timestamp,vehicle.stop_id,...,nearest_node,nearest_osm_id,osmid,y,x,ref,highway,street_count,geometry,time_diff
0,MTABC_3557,37373420-FRPD3-FR_D3-Saturday-04,20230916,Q11,1.0,40.656403,-73.830521,283.161041,2023-09-16 14:31:46,550510,...,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690),NaN
1,MTABC_3677,37372668-FRPD3-FR_D3-Sunday-04,20230924,Q11,0.0,40.656639,-73.830574,103.185760,2023-09-24 19:47:26,550396,...,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690),NaN
2,MTABC_3748,37370792-FRPD3-FR_D3-Weekday-04-SDon,20230919,Q11,0.0,40.656467,-73.830536,103.185760,2023-09-19 14:12:40,550396,...,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690),NaN
3,MTABC_4059,37370815-FRPD3-FR_D3-Weekday-04-SDon,20230918,Q11,1.0,40.656635,-73.830574,283.185760,2023-09-18 10:06:20,550510,...,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690),NaN
4,MTABC_4396,37370782-FRPD3-FR_D3-Weekday-04-SDon,20230921,Q11,0.0,40.656441,-73.830528,103.185760,2023-09-21 12:21:37,550396,...,27543,42864671,42864671,40.656902,-73.830636,NaN,NaN,3,POINT (-73.83064 40.65690),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36392275,MTA NYCT_8789,QV_D3-Weekday-SDon-054000_MISC_107,20230926,Q36,1.0,40.768322,-73.729698,318.012787,2023-09-26 13:01:45,500969,...,54376,9498751780,9498751780,40.768199,-73.729526,NaN,NaN,3,POINT (-73.72953 40.76820),0.0
36392276,MTA NYCT_8789,QV_D3-Weekday-SDon-054000_MISC_107,20230926,Q36,1.0,40.768322,-73.729698,318.012787,2023-09-26 13:01:45,500969,...,54376,9498751780,9498751780,40.768199,-73.729526,NaN,NaN,3,POINT (-73.72953 40.76820),0.0
36392277,MTA NYCT_8789,QV_D3-Weekday-SDon-054000_MISC_107,20230926,Q36,1.0,40.768322,-73.729698,318.012787,2023-09-26 13:01:45,500969,...,54376,9498751780,9498751780,40.768199,-73.729526,NaN,NaN,3,POINT (-73.72953 40.76820),0.0
36392278,MTA NYCT_8789,QV_D3-Weekday-SDon-054000_MISC_107,20230926,Q36,1.0,40.768322,-73.729698,318.012787,2023-09-26 13:01:45,500969,...,54376,9498751780,9498751780,40.768199,-73.729526,NaN,NaN,3,POINT (-73.72953 40.76820),0.0
36392279,MTA NYCT_8789,QV_D3-Weekday-SDon-054000_MISC_107,20230926,Q36,1.0,40.768322,-73.729698,318.012787,2023-09-26 13:01:45,500969,...,54376,9498751780,9498751780,40.768199,-73.729526,NaN,NaN,3,POINT (-73.72953 40.76820),0.0

In [15]:
buses_with_nodes = buses.sort_values(["vehicle.trip.trip_id", "vehicle.timestamp"]).drop_duplicates(subset = ["vehicle.trip.trip_id", "nearest_osm_id"],  keep = "first").to_crs(2263)
buses_with_nodes = buses_with_nodes[["vehicle.trip.route_id", "vehicle.timestamp", "vehicle.trip.trip_id", "osmid", "vehicle.vehicle.id",  "geometry"]]
buses_with_nodes["prev_osmid"] = buses_with_nodes.groupby("vehicle.trip.trip_id")["osmid"].shift()

In [16]:
def compute_distance(row, graph):
    try:
        return nx.shortest_path_length(graph, row['prev_osmid'], row['osmid'], weight='length')
    except nx.NetworkXNoPath:
        return float('nan')
    
def compute_euclid_dists(node_pairs, nodes_points):
    node_pairs = node_pairs.merge(nodes_points, left_on = "osmid", right_on = "osmid", how = "left").merge(nodes_points, right_on = "osmid", left_on = "prev_osmid", how = "left", suffixes = ["curr", "prev"])
    node_pairs["x_diff_sq"] = (node_pairs["xcurr"] - node_pairs["xprev"])**2
    node_pairs["y_diff_sq"] = (node_pairs["ycurr"] - node_pairs["yprev"])**2

    return (node_pairs["x_diff_sq"] + node_pairs["y_diff_sq"]) ** (1/2)

nodes_points = nodes.to_crs(2263)
nodes_points["x"] = nodes_points.geometry.x
nodes_points["y"] = nodes_points.geometry.y
nodes_points = nodes_points[["osmid", "x", "y"]]

unqiue_node_pairs = buses_with_nodes[["osmid", "prev_osmid"]].dropna().drop_duplicates().astype("Int64").reset_index()
unqiue_node_pairs["distance_meters_osm"] = unqiue_node_pairs.apply(compute_distance, graph=G, axis=1)
unqiue_node_pairs["distance_meters_euclid"] = compute_euclid_dists(unqiue_node_pairs, nodes_points) / 3.28

unqiue_node_pairs.to_parquet("/home/data/bus-weather/node_pairs.parquet")

unique_node_pairs = pd.read_parquet("/home/data/bus-weather/node_pairs.parquet")
buses_with_nodes = buses_with_nodes.merge(unique_node_pairs, how = "left")
buses_with_nodes["osmid"] = buses_with_nodes["osmid"].astype(str)
buses_with_nodes["prev_osmid"] = buses_with_nodes["prev_osmid"].astype("Int64").astype(str)

In [31]:
buses_with_nodes["time_diff_seconds"] = buses_with_nodes.groupby("trip_id")["timestamp"].diff().dt.total_seconds()
buses_with_nodes["speed_mph_osm"] =  (buses_with_nodes["distance_meters_osm"] / 1609) / (buses_with_nodes["time_diff_seconds"] / 3600)
buses_with_nodes["speed_mph_euclid"] =  (buses_with_nodes["distance_meters_euclid"] / 1609) / (buses_with_nodes["time_diff_seconds"] / 3600)

In [33]:
unqiue_node_pairs

              osmid  prev_osmid  distance_meters_osm  distance_meters_euclid
754333     42971112    42971120              410.265                     NaN
1567424    42962132    42971112              570.504                     NaN
360648    410544431    42965719              626.869                     NaN
118352     42947856    42944036              699.414              281.108829
1801165    42951005    42947856              445.257                     NaN
...             ...         ...                  ...                     ...
1323207    42440323    42445867              248.212                     NaN
1130478   447760277    42986987              976.978                     NaN
1866765  8264070984    42978105              797.705                     NaN
83261     410544474    42964909             3852.038              483.940807
734758     42944869    42978304             4862.734                     NaN

[210498 rows x 4 columns]

In [20]:
compute_euclid_dists(unqiue_node_pairs, nodes_points) / 3.28

0          409.824293
1          401.598082
2          347.602321
3          517.578622
4          446.421753
             ...
210493     184.244547
210494     942.196053
210495     788.538731
210496    3570.562742
210497    4228.918867
Length: 210498, dtype: float64

In [ ]:
nodes.query("osmid == 42949762 | osmid == 598367717")

In [ ]:
buses_with_nodes.query("speed_mph_osm > 100")

In [ ]:
buses_with_nodes['distance_diff_feet'] = buses_with_nodes.groupby('trip_id').apply(calculate_distances).reset_index(level=0, drop=True)

In [ ]:
buses.query("route == 'M96'").plot()

In [ ]:
data.head(50)

In [ ]:
plot_osm_path(start, end)

In [ ]:
path_nodes = nx.shortest_path(G, 598367717, 42949762)

In [ ]:
import contextily as ctx
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(10, 10))
nodes.query("osmid.isin(@path_nodes)").to_crs(3857).plot(ax = ax)

ctx.add_basemap(ax, source=ctx.providers.OpenStreetMap.Mapnik)

plt.show()

In [ ]:
data_url = "https://ndownloader.figshare.com/files/20232174"
db = gpd.read_file(data_url)
ax = db.plot(color="red", figsize=(9, 9))
ctx.add_basemap(ax, crs=db.crs.to_string())